{% extends "home/index.html" %}

{% block block %}
<div class="container mx-auto mt-8">
  <div class="flex justify-center">
    <div class="w-full max-w-md">
      <div class="bg-white p-6 rounded-lg shadow-lg">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for message in messages %}
          <div class="mb-4 p-3 text-blue-900 bg-blue-100 border border-blue-200 rounded-lg">
            <p>{{ message }}</p>
          </div>
          {% endfor %}
          <div class="mb-4">
            <label for="username" class="block text-gray-700">Username</label>
            <input type="text" name="username" required class="mt-1 p-2 w-full border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" id="username" aria-describedby="emailHelp">
          </div>
          <div class="mb-4">
            <label for="exampleInputPassword1" class="block text-gray-700">Password</label>
            <input type="password" name="password" class="mt-1 p-2 w-full border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" id="exampleInputPassword1">
          </div>
          <div class="mb-4">
            <p class="text-gray-700">Don't have an Account? <a class="text-blue-500 hover:underline" href="/auth/register_page/">Register</a></p>
          </div>
          <button type="submit" class="w-full bg-blue-500 text-white p-2 rounded-lg hover:bg-blue-600">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
