{% extends "home/index.html" %}

{% block block %}
<div class="container">
<h1>About Us</h1>
    <p style="border: solid 5px black; padding: 20px 20px">
        Share & Sustain is an organization committed to reducing food waste and alleviating hunger through an online platform. Donors list their excess food, and those in need can browse and request items. The platform matches donations with specific needs, prioritizing perishable items. Share & Sustain engages with communities to raise awareness and promote sustainable practices. By redistributing surplus food, the organization reduces waste and supports individuals facing food insecurity. Volunteers play a crucial role in collection, distribution, and outreach efforts. Share & Sustain invites individuals and businesses to join in their mission of sharing resources and sustaining communities through food.
    </p>
    </div>
{% endblock %}