{% extends "home/index.html" %}

{% block block %}
<div class="container" style="display : flex; flex-direction : column; justify-content : space-between; gap : 50px">

<div class="container" style="display : flex; flex-direction : row; justify-content : space-around">

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Food Available for</h5>
    <h2 class="card-text">{{total_people}} Members</h2>
    <a href="/contribute" class="card-link">Contribute</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">No. of Donations Made</h5>
    <h2 class="card-text">{{total_count}}</h2>
    <a href="/contribute" class="card-link">Donate</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Total requests</h5>
    <h2 class="card-text">{{total_request}}</h2>
    <a href="#" class="card-link">Handle Requests</a>
  </div>
</div>
</div>

{%if request.user.is_staff %}
  <div class="card container" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Total Contributors</h5>
    <h2 class="card-text">{{total_users}}</h2>
    <a href="#" class="card-link">Contributors</a>
  </div>
</div>
{%endif%}

</div>
{% endblock %}